<ul class="ul-custom">
  <li class="li-logo"> <%=  image_tag ("CDAO LOGO.png"), class: "responsive-logo" %></li>
  <li class="<%= @classname %>"><%= link_to "Contact us" %></li>
  <li class="<%= @classname %>"><%= link_to "Features" %></li>
</ul>
